# This is a basic workflow to help you get started with Actions

name: TEST

# Controls when the action will run. 
on: 
  push:
    branches: 
    - main
    paths:
    - 'sf/**'

jobs:
  notify:
    name: Slack Notification
    runs-on: ubuntu-latest
    steps:
      - name: 'Send Notification'
        run: |
          jq -n '{
            attachments: [
            {
              pretext: "<!subteam^C02184J4G48>メッセージ。",
              color: "good",
              fields: [
                    {
                     title: "CommitURL",
                     value: "${{github.event.head_commit.url}}",
                    },
                    {
                     title: "CommitURL",
                     value: ${{ toJSON(format('result: {0} {1}', github.event.head_commit.message, 'test')) }} ,
                    }
                ]
            }]
          }' | curl -H 'Content-Type: application/json' -d @- ${{ secrets.INCOMING_WEBHOOK_URL }}
